<header id="header" class="topbar-sticky-shrink-header">
</header>

<div data-sticky-container>
    <div data-sticky data-margin-top='0' data-top-anchor="header:bottom">
        <div class="top-bar topbar-sticky-shrink">
            <div class="top-bar-title">
                <a href="/addplant"><button class="btn">New Plant</button></a>
            </div>
            <div class="top-bar-right">
                <a href="/"><button class="btn">Home</button></a>

            </div>
        </div>
    </div>
</div>