<header id="header" class="topbar-sticky-shrink-header">
</header>

<div data-sticky-container>
    <div data-sticky data-margin-top='0' data-top-anchor="header:bottom">
        <div class="top-bar topbar-sticky-shrink">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">So Thirsty</li>
                <li class="menu-text"><a href="/addplant">New Plant</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <a href="/"><button class="btn">Home</button></a>

        </div>
    </div>
</div> 