{{>navbar}}

<callout class="hello">
<h2>Life's a Garden, Dig it!</h2>
</callout>

<div class="grid-x grid-x-margin">
    <div class="about-us">
<p>Sometimes when life gets busy, we forget to water our beloved plants on time. We don't mean to, but it happens to every plant owner at some point. Here at So Thirsty we want to provide you with everything you need for keeping up to date on the care of your plant friends. Make each plant a profile to show off their personalities, keep track of waterings to make sure they never get too thirsty, upload your own photos to keep records of their growth and show off your success as a plant owner in our Community network. You can also share your profile with Caretakers when you go out of town to make sure your plants get all the love and attention they need. Your plants don't want to be So Thirsty, but we don't mind. Sign up today and check us out!
<br><br><br>
Happy growing! From the So Thirsty Team,
<br><br>
Aleks Kimball-Moreno<br>
Anthony Mitchell<br>
Calvin Manning<br>
Claire Cheek<br>
</p>
</div>
</div>