{{>nav-user this}}

<h1>Add a photo for
    {{{dataValues.nickname}}}
</h1>

<form>

    <div class="grid-container grid-container-margin">
        <div class="grid-x grid-x-margin">
            <div class="grid-y">
                <input id="photoInput" type="file" name="image">
                <input type="hidden" id="hdnId" name="hdnId" value="{{{dataValues.id}}}">
                
                <div class="hiddenElement">
                    <h3>Preview</h3>
                    <img id="preview" alt="preview" style="width: 200px;">
                    <button id="photoBtn" class="btn" type="button">upload</button>
                </div>
                
            </div>
        </div>
    </div>
</form>

<script>
    $("#photoBtn").click((e) => {
        e.preventDefault();
        const file = $("#photoInput").prop('files')[0];
        
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = () => {
            uploadPhoto(reader.result)
        }
    })

    $("#photoInput").on("change", () => {
        const file = $("#photoInput").prop('files')[0];
        
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = () => {
            $("#preview").attr("src", reader.result);
            $(".hiddenElement").show();
        }
    })

    const uploadPhoto = file => {

            $.post("/api/plant/img", {
            data: file,
            id: $("#hdnId").val()
        }).then(response => {
            window.location.href = response.href;
        }).fail(err => {
            console.log(err);
        })
    }
</script>