
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <h3>HELLOOOOO?????</h3>
    {{{email}}}
    {{#each dataValues.User.Plants}}
    <div class="cell medium-2 small-2">
      <div class="card">
        <h4>{{dataValues.nickname}}</h4>
        <div class="card-section">
          <a href="/caretaker/plant/{{{dataValues.id}}}">
            {{#each Photos}}
            <img class="img" src={{dataValues.url}}>
            {{/each}}</a>
        </div>
        <div class="card-section">
          <button class="btn">Just watered!</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>