{{>navbar}}

<form action="/invite" method="POST">

    <p>IF you need someone else to tend your plants for a while, send them an invite to see your plant information and water them! Don't worry about your account - we'll only let them see and water your plants!</p>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required><br>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>

    <button type="submit">Send Invite</button>
</form>