<div class-"grid-container">
    <div class="grid-y grid-frame">
        <form action="/api/plant" method="Post">
            <div class="cell medium-4">*
                <input id="searchBox" placeholder="Enter Your Search">
            </div>
            <div class="cell medium-4 medium-cell-block-y">*
                <div id="resultsBox">
                    {{dataValues.commonName}}<br>
                    {{dataValues.scientificName}}<br>
                </div>
                <div class="cell medium-4">*
                    <button id="searchBtn" class="btn">Search for a plant!</button>
                </div>

            </div>
    </div>
</div>


{{!-- <div class-"grid-container">
    <div class="grid-y grid-frame">
        <div class="cell small-2">*
            <input id="nickname" name="nickname" placeholder="nickname"></input><br>
        </div>
        <div class="cell small-2">*
            <input id="commonName" name="commonName" placeholder="commoname"></input><br>
        </div>
        <div class="cell small-2">*
            <input id="scientificName" name="scientificName" placeholder="scientific name"></input><br>
        </div>
        <div class="cell small-2">*
            <input id="waterFreq" name="waterFrequency" placeholder="water frequency"></input><br>
        </div>
        <div class="cell small-2">*
            <input id="notes" name="notes" placeholder="notes"></input><br>
        </div>
        <div class="cell small-2">*
            <input id="trefleId" name="trefleId" type="hidden"></input>
            <input id="treflePhoto" name="treflePhoto" type="hidden"></input>
        </div>
        <div class="cell small-2">*
            <button id="addBtn" type="Submit" class="btn">Add a plant!</button>
        </div> --}}


        </form>


    </div>
</div>