<div class="grid-y">
     <div class="cell small-6">6 cells
<form action="/api/plant" method="Post">
</div>
 <div class="cell small-6">6 cells
    <input id="searchBox" placeholder="Enter Your Search">
    </div>
</div>

<div class="grid-y">
    <input id="nickname" name="nickname" placeholder="nickname"></input><br>
    <input id="commonName" name="commonName" placeholder="commoname"></input><br>
    <input id="scientificName" name="scientificName" placeholder="scientific name"></input><br>
    <input id="waterFreq" name="waterFrequency" placeholder="water frequency"></input><br>
    <input id="notes" name="notes" placeholder="notes"></input><br>
    <input id="trefleId" name="trefleId" type="hidden"></input>
    <input id="treflePhoto" name="treflePhoto" type="hidden"></input>


    <button id="searchBtn" class="btn">Search for a plant!</button>
    <button id="addBtn" type="Submit" class="btn">Add a plant!</button>

    <div id="resultsBox">

    </div>

</form>
</div>