


<input id="searchBox" placeholder="Enter Your Search">
<div id="resultsBox">
</div>

<input id="nickname" placeholder="nickname"></input><br>
<input id="commonName" placeholder="commoname"></input><br>
<input id="scientificName" placeholder="scientific name"></input><br>
<input id="waterFreq" placeholder="water frequency"></input><br>
<input id="conditions" placeholder="conditions"></input><br>
<input id="notes" placeholder="notes"></input><br>


<button id="searchBtn"  class="btn">Search for a plant!</button>