{{>navbar}}

<div class="grid-container grid-containter-padded">

    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-3 medium-12">
            <form id="myForm" action="/api/plant" method="Post">
                <label for="nickname">Nickname:</label>
                <input class="new" id="nickname" name="nickname" placeholder="nickname" required></input><br>

                <label for="commonName">Common Name:</label>
                <input class="search new" id="commonName" name="commonName" placeholder="commoname"></input><br>

                <label for="scientificName">scientific Name:</label>
                <input class="new" id="scientificName" name="scientificName" placeholder="scientific name"></input><br>

                <label for="waterFrequency">Water frequency(days between watering):</label>
                <input class="new" id="waterFreq" name="waterFrequency" placeholder="water frequency"
                    required></input><br>

                <label for="notes">Notes:</label>
                <textarea class="new" id="notes" name="notes" placeholder="notes"></textarea><br>

                <input class="new" id="trefleId" name="trefleId" type="hidden"></input>
                <input class="new" id="treflePhoto" name="treflePhoto" type="hidden"></input>

                <div id="selectedNotice"></div>
                <button id="addBtn" type="Submit" class="btn new">Add plant!</button>
            </form>
        </div>

        <div class="cell medium-9 small-12">
            <label for="searchBox">Search:</label>
            <input class="new" id="searchBox" placeholder="Enter Your Search">

            <button id="searchBtn" class="btn">Search for a plant!</button>
            <div class="scroll" id="resultsBox">

            </div>
        </div>


    </div>