<div class="grid-container grid-containter-padded">
    <div class="grid-x grid-margin-x align-center">
        <div class="grid-y grid-margin-y">

            <form action="/api/plant" method="Post">
            <input class="new" id="nickname" name="nickname" placeholder="nickname" required></input><br>
            <input class="search new" id="commonName" name="commonName" placeholder="commoname"></input><br>
            <input class="new" id="scientificName" name="scientificName" placeholder="scientific name"></input><br>
            <input class="new" id="waterFreq" name="waterFrequency" placeholder="water frequency" required></input><br>
            <input class="new" id="notes" name="notes" placeholder="notes"></input><br>
            <input class="new" id="trefleId" name="trefleId" type="hidden"></input>
            <input class="new" id="treflePhoto" name="treflePhoto" type="hidden"></input>
            <button id="addBtn" type="Submit" class="btn new">Add a plant!</button>
        </div>

        

        <div class="grid-y  grid-margin-y">

            <input class="new" id="searchBox" placeholder="Enter Your Search">


            <button id="searchBtn" class="btn">Search for a plant!</button>
            <div class="scroll" id="resultsBox">
                <h5>Common Name:</h5><br>
                <h5>Scientific Name:</h5><br>
                <h5>[Image]</h5><br>
                <button class="btn">Choose</button><br>
            </div>
            <button id="clearBtn" class="btn">Clear Search</button>
        </div>
        </form>

    
    </div>
</div>