<div class="callout">
  <h5 id="science-name">{{scientificName}} scientific name</h5>
</div>

<div class="callout small">
  <h5>Last watered:</h5>
</div>

<button>Just watered!</button>

<div class="card" style="width: 75%;">
  <div class="card-divider">
    <h4>Care Instructions</h4>
  </div>
  <div class="card-section">
    <p>[care instructions]</p>
    <p>[care instructions]</p>
    <p>[care instructions]</p>
    <p>[care instructions]</p>
    <p>[care instructions]</p>
    <p>[care instructions]</p>
    <p>[care instructions]</p>
    <p>[care instructions]</p>
    <p>[care instructions]</p>
  </div>
</div>

<div class="callout small">
  <h5>Recommended Water Frequency:</h5>
</div>

<div class="callout small">
  <h5>Recommended Enviromental Conditions:</h5>
</div>

<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
      <div class="card">
        <img src="https://place-puppy.com/150x150">
        <div class="card-section">
        <h4>Date of Picture taken</h4>
          <p>Possible notes added to each picture upload?</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <img src="https://place-puppy.com/150x150">
        <div class="card-section">
          <h4>Date of Picture taken</h4>
          <p>Possible notes added to each picture upload?</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <img src="https://place-puppy.com/150x150">
        <div class="card-section">
          <h4>Date of Picture taken</h4>
          <p>Possible notes added to each picture upload?</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-x grid-margin-x small-up-2 medium-up-3">
  <div class="cell">
    <div class="card">
      <img src="https://place-puppy.com/150x150">
      <div class="card-section">
        <h4>Date of Picture taken</h4>
        <p>Possible notes added to each picture upload?</p>
      </div>
    </div>
  </div>
  <div class="cell">
    <div class="card">
      <img src="https://place-puppy.com/150x150">
      <div class="card-section">
        <h4>Date of Picture taken</h4>
        <p>Possible notes added to each picture upload?</p>
      </div>
    </div>
  </div>
  <div class="cell">
    <div class="card">
      <img src="https://place-puppy.com/150x150">
      <div class="card-section">
        <h4>Date of Picture taken</h4>
        <p>Possible notes added to each picture upload?</p>
      </div>
    </div>
  </div>
</div>