{{>nav-visitor}}
<div class="register">
  <div class="translucent-form-overlay">
    <div class="grid-y">
      <h1>Welcome to So Thirsty!</h1>
      <h3>Your plants don't want to be So Thirsty, but we don't mind.</h3>
      <br>
      <div class="row grid-x">
        <div class="column cell small-8 grid-y-margin">
          <h3>Register</h3>
        </div>
        <div class="column small-4 grid-y-margin">
          <a href="../signin"> <button id="returnUserBtn" class=" button primary radius">Returning User</button></a>
        </div>
      </div>

      <form id="newUser">
        <div class="grid-y">
          <div class="cell small-12">
            <label for="userName">User Name</label>
            <input id="userName" placeholder="username"></input>
            <br>
          </div>


          <div class="cell small-12">
            <label for="name">Name</label>
            <input id="name" type="name" placeholder="name"></input>
            <br>
          </div>
        </div>

        <div class="cell small-12">
          <label for="password">Password (you'll need at least 8 characters)</label>
          <input id="password" type="password" placeholder="password"></input>
          <br>
        </div>


        <div class="cell small-12">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" placeholder="confirm password"></input>
          <br>
        </div>

        <button type="submit" id="startButton" class="primary button expanded">
          Get Started
        </button>
    </div>
    </form>
  </div>
</div>

</div>
<br>