<form id="user-input">
<input id="user-name"></input>
<input id="password" type="password"></input>
<input id="confirm-password" type="password"></input>
<button type="submit">Get Started</button>
</form>