{{>navbar}}
<div class="register">
  <div class="translucent-form-overlay">
    <h1>Welcome to So Thirsty!</h1>
    <h3>Your plants don't want to be So Thirsty, but we don't mind.</h3>
    <br>
    <div class="row grid-x">
      <div class="column cell small-8 grid-y-margin">
        <h3>Register</h3>
      </div>
      <div class="column grid-y-margin">
        <a href="../signin"> <button id="returnUserBtn" class=" button primary radius">Returning User</button></a>
      </div>
    </div>

    <form id="newUser" class="small">
      <div class="row columns">
        <form id="newUser">
          <label for="userName">User Name</label>
          <input id="userName" placeholder="username"></input>
          <br>
      </div>
      <div class="row columns">
        <label for="name">name</label>
        <input id="name" type="name" placeholder="name"></input>
        <br>
      </div>
      <div class="row columns">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="password"></input>
        <br>
      </div>
      <div class="row columns">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" placeholder="confirm password"></input>
        <br>
      </div>

      <button type="submit" id="startButton" class="primary button expanded">
        Get Started
      </button>
    </form>

  </div>

</div>