<div class="register">
  <table>
    <thead>
      Welcome to So Thirsty!
    </thead>
    <tbody><br>
      <form id="newUser">
        <label for="userName">User Name</label> 
        <input id="userName" placeholder="username"></input><br>
        <label for="name">Name</label>
        <input id="name" placeholder="name"></input><br>
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="password"></input><br>
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" placeholder="confirm password"></input><br>
        <button type="submit" id="startButton"  class="btn">Get Started</button>
      </form>

    </tbody>
  </table>
</div>