
<div class= "register">
<table>
  <thead>
      Welcome to So Thirsty!
  </thead>
  <tbody><br>
    <form  id="user-input">
<input id="user-name" placeholder="username"></input>
<input id="password" type="password" placeholder="password"></input>
<input id="confirm-password" type="password" placeholder="confirm password"></input>
<button type="submit" id="startButton">Get Started</button>
</form>

  </tbody>
</table>
</div>