{{>navbar}}

<div id="loginImg">
<div class="grid-container grid-container-padded">
    <div class="grid-x grid-margin-x align-center">
        <div class="grid-y grid-margin-y">

            <h1>Welcome back!</h1>
<section class="translucent-form-overlay">
            <form method="POST" action="/signin">
                <div class="row columns">
                    <form id="newUser">
                        <label for="userName">User Name</label>
                        <input id="userName" placeholder="username"></input>
                        <br>
                </div>
                <div class="row columns">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="password"></input>
                    <br>
                </div>
                <button type="submit" id="startButton" class="primary button expanded">
                    Get Started
                </button>
            </form>
            </section>
        </div>
    </div>
</div>
</div>