<form method="POST" action="/signin">
    <label for="userName">User Name</label>
    <input name="userName"><br>
    <label for="password">password</label>
    <input type="password" name="password">
    <input type="submit" value="Sign in" class="btn">
</form>