.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(173, 187, 162) ;
    color: rgb(104,123,136);
    text-align: center;
  }

  .top-bar.topbar-sticky-shrink{
    background-color: rgb(173, 187, 162) ;
    color: rgb(104,123,136);
  }

  .register{
      width: 50%;
      display: block;
      margin: 0 auto;
  }

  #startButton {
      display: block;
      margin: 0 auto;
  }

 .science-name {
    text-align: center;
  }