* {
  border-radius: 3px
}

#body {
  background-color: rgb(173, 187, 162, 0.2)
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(173, 187, 162) ;
    color: rgb(104,123,136);
    
  }

.footer-li {
  text-align: center;
  display: inline;
  padding: 15px;
  margin: 10%;
}

#footer-ul{
  padding: 1%;
}
  .top-bar.topbar-sticky-shrink{
    background-color: rgb(173, 187, 162) ;
    color: rgb(104,123,136);
    
  }

  .register{
      width: 50%;
      display: block;
      margin: 0 auto;
  }

  #startButton {
      display: block;
      margin: 0 auto;
  }

 .science-name {
    text-align: center;
  }

  .card-section {
    border-radius: 3px;
    border: solid 2px rgb(173, 187, 162);
    text-align: center;
    margin: 10px;
  }

  .grid-container {
    border-radius: 3px
  }

  .btn {
    border-radius: 3px;
    border: solid 2px rgb(104,123,136);
    padding: 4px;
    background-color: rgb(173, 187, 162, 0.2);
    color: rgb(93, 100, 87);
    box-shadow: 1px 1px 1px;
    margin: 10px;
  }

  .btn:hover {background-color: #99b49a}

  .btn:active {
    background-color: #697a6a;
    box-shadow: 3px 3px 3px #666;
  }

  .watered-btn{
    border-radius: 3px;
    border: solid 2px rgb(30, 71, 131);
    background-color: rgb(192,225,247);
    color: rgb(30, 71, 131);
    box-shadow: 1px 1px 1px;
    padding: 20px;
    margin: 10px;
  }

  .watered-btn:hover {background-color: rgb(252, 240, 106)}

  .watered-btn:active {
    background-color: rgb(252, 240, 106);
    box-shadow: 3px 3px 3px #666;
  }

  .hiddenElement {
    display: none;
  }

  .delete-btn{
    border-radius: 3px;
    border: solid 2px rgb(131, 47, 45);
    background-color: rgb(216, 81, 79);
    color: rgb(131, 47, 45);
    box-shadow: 1px 1px 1px;
    padding: 20px;
    margin: 10px;
  }

  .delete-btn:hover {background-color: rgb(252, 240, 106)}

  .delete-btn:active {
    background-color: rgb(252, 240, 106);
    box-shadow: 3px 3px 3px #666;
  }

  .img {
    width: 200px;
    height: 200px;
  }

  div.scroll { 
    margin:4px, 4px; 
    padding:4px; 
    background-color:  rgb(173, 187, 162, 0.2); 
    width: 100%; 
    height: 400px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify;
    color:   rgb(93, 100, 87);
    display: none;
}

.grid-container{
    margin: 5%;
}

.grid-y{
  margin: 5%
}

.new{
  height: 30px;
  margin: 10px;
  width: 250px
}

.plant-page {
  text-align: center;
}

.not-watered {
border: solid 10px rgb(216, 81, 79)
}

.is-watered {
  border: solid 10px rgb(192, 225, 247)
}
#selectedNotice{
  text-align: center;
}

input{
  margin: 10px !important;
}

.callout > input{
display: unset;
}

label{
  margin: 4px  0 -10px 10px !important;
}

.btn-group button {
  background-color: rgb(173, 187, 162, 0.2);
  border: solid 2px rgb(104,123,136);
  color: rgb(93, 100, 87);
  border-radius: 3px;
  padding: 10px 24px;
  /* cursor: pointer; */
  width: 100%;
  display: block;
}

.btn-group button:not(:last-child) {
  border-bottom: none;
}

.btn-group button:hover {
  background-color: rgb(252, 240, 106);
}

/* .plant-card {
  margin: 1px;
} */


